In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_table("c:/Users/595217/Documents/NSDUH-2015-DS0001-data-excel.tsv")

C:\Users\595217\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2698: DtypeWarning: Columns (2501) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.describe()

,QUESTID2,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,...,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP2,MAIIN102,AIIND102,ANALWT_C,VESTR,VEREP
count,5.714600e+04,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,...,56729.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000,57146.000000
mean,5.447613e+07,1.494103,79.628478,79.645400,503.961117,9803.818395,92.901708,46.321457,77.743464,93.085973,...,2.361755,2.210023,2.225545,1.644490,1.763675,1.978756,1.978494,4684.395919,40025.530868,1.494943
std,2.553100e+07,0.499970,38.316055,38.293875,487.618751,1219.932775,13.635147,44.183970,28.702399,4.420861,...,0.802180,5.207890,5.205750,0.618402,0.772090,0.144197,0.145066,5720.231967,14.631455,0.499979
min,1.000192e+07,1.000000,1.000000,1.000000,1.000000,2013.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.621832,40001.000000,1.000000
25%,3.239289e+07,1.000000,99.000000,99.000000,16.000000,9991.000000,91.000000,3.000000,91.000000,91.000000,...,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,2.000000,1246.005954,40013.000000,1.000000
50%,5.418225e+07,1.000000,99.000000,99.000000,985.000000,9991.000000,91.000000,4.000000,91.000000,93.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2722.979853,40025.000000,1.000000
75%,7.618434e+07,2.000000,99.000000,99.000000,991.000000,9999.000000,99.000000,91.000000,93.000000,93.000000,...,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,5764.130739,40039.000000,2.000000
max,9.999956e+07,2.000000,99.000000,99.000000,997.000000,9999.000000,99.000000,91.000000,98.000000,99.000000,...,3.000000,98.000000,98.000000,3.000000,3.000000,2.000000,2.000000,109100.623000,40050.000000,2.000000

In [5]:
df.columns

Index(['QUESTID2', 'FILEDATE', 'CIGEVER', 'CIGOFRSM', 'CIGWILYR', 'CIGTRY',
       'CIGYFU', 'CIGMFU', 'CIGREC', 'CIG30USE',
       ...
       'POVERTY3', 'TOOLONG', 'TROUBUND', 'PDEN10', 'COUTYP2', 'MAIIN102',
       'AIIND102', 'ANALWT_C', 'VESTR', 'VEREP'],
      dtype='object', length=2666)

In [163]:
for i in range(0,3000,100):
    print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900

In [2]:
import numpy as np

In [4]:
test = np.array([[1, 2], [3, 4], [5, 6]])

In [6]:
test.shape

(3, 2)